<h2>Nombre</h2>
<p><%= @hero.name %></p>
<h2>Alias</h2>
<p><%= @hero.alias %></p>
<h2>Edad</h2>
<p><%= @hero.age %></p>
<div><%= link_to "Editar héroe", edit_hero_path(@hero)%></div>
<div><%= link_to "Despedir héroe", hero_path(@hero), data:{
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
}%></div>